<app-nav></app-nav>

<h2>Table pagination</h2>

<div *ngIf="tableData">
    <table class="tbl" id="head">
        <thread>
            <tr class="row">
                <td class="cell"><b>userId</b></td>
                <td class="cell"><b>id</b></td>
                <td class="cell"><b>title</b></td>
                <td class="cell"><b>completed</b></td>
            </tr>
        </thread>
        <tbody>
            <tr class="row" *ngFor="let item of collection | paginate: { itemsPerPage: 5, currentPage: p }">
                <td class="cell">{{item.userId}}</td>
                <td class="cell">{{item.id}}</td>
                <td class="cell">{{item.title}}</td>
                <td class="cell">{{item.completed}}</td>
            </tr>
        </tbody>     
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>